@charset 'UTF-8';

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor3:#3ddc84;
    --cor4:#2fa866;
    --cor5:#1a5c37;
    --cor: #063d1e;

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --font-android: 'Android', cursive;
}


* {
    margin: 0px;
    padding: 0px;
}

body {
   background-color: var(--cor0);
   font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\00a0\1f517';
}

header {
    background-image: linear-gradient(to bottom, rgb(79, 213, 79), rgb(22, 77, 22));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    font-family: sans-serif;
}
header > h1 {
    color:white;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px black;
}

header > p {
    color: white;
    text-shadow: 2px 2px 0px black;
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 9px black;
}

main {
    background-color: white;
    margin: auto;
    margin-bottom: 25px;
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    box-shadow: 0px 0px 10px black;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 20px;
    font-size: 1em;
    line-height: 2em;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    padding: 2px 6px;
    background-color: var(--cor1);
}

main a:hover {
    text-decoration: underline;
    color: var(--cor5);
}

nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    padding: 2px 6px;
}

nav > a:hover {
    background-color: #33b46d;
    color: #1a5c37;
}


main img {
    width: 100%;
}

main h1 {
    color: var(--cor5);
    font-family: var(--font-android);
}

main h2 {
    font-family: var(--font-android);
    color:rgba(0, 0, 0, 0.448);
    font-size: 1.3em;
    background-image: linear-gradient(to right, rgb(120, 208, 120), transparent);
}

main img.pequena {
    max-width: 320px;
    display: block;
    margin: auto;
}

div.video {
    background-color: #1a5c37;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%
    left: 5%;
    width: 90%;
    height: 90%;
}
aside {
    background-color: rgb(172, 231, 172);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.467);
}

aside >h3 {
    background-color: var(--cor5);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0pc;
}

aside > ul {
    list-style-position: inside;
    list-style-type: '\2714';
    columns: 2;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: black;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: #83e1ad;
}